@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="h-screen px-4 pb-24 overflow-auto md:px-6">
    <h1 class="text-4xl font-semibold text-gray-800 dark:text-white">
        @ViewData["Title"]
    </h1>
    <h2 class="text-gray-400 text-md">
        Use this page to detail your site's privacy policy
    </h2>

</div>


